*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#06162f;
color:#fff;
padding:18px;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.logo{
font-size:30px;
font-weight:bold;
}

.logo span{
margin-left:8px;
}

.right-icons i{
font-size:22px;
margin-left:18px;
background:#102848;
padding:12px;
border-radius:14px;
cursor:pointer;
}

.welcome-card{
background:#0b2344;
padding:20px;
border-radius:22px;
margin-bottom:22px;
border:1px solid #184b8d;
}

.welcome-card h2{
font-size:30px;
margin-bottom:8px;
}

.welcome-card p{
color:#bfc9d7;
margin-bottom:15px;
}

.safe-badge{
display:inline-block;
background:#0d5a37;
color:#67ff9d;
padding:10px 18px;
border-radius:30px;
font-weight:bold;
}

.sos-card{
display:flex;
justify-content:space-between;
align-items:center;
background:#321323;
border:2px solid #8b1732;
padding:22px;
border-radius:22px;
margin-bottom:25px;
cursor:pointer;
transition:.3s;
}

.sos-card:hover{
transform:scale(1.02);
}

.sos-card h2{
font-size:30px;
}

.sos-card p{
color:#d7d7d7;
margin-top:6px;
}

.sos-card i{
font-size:28px;
color:#ff4d6d;
}

.heading{
margin:15px 0;
font-size:22px;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:18px;
}

.feature{
background:#0b2344;
border-radius:20px;
padding:25px;
text-align:center;
transition:.3s;
border:1px solid #163b6c;
}

.feature:hover{
transform:translateY(-5px);
}

.feature i{
font-size:42px;
color:#3aa0ff;
margin-bottom:15px;
}

.feature h4{
font-size:20px;
}

@media(max-width:600px){

.logo{
font-size:24px;
}

.welcome-card h2{
font-size:25px;
}

.sos-card h2{
font-size:24px;
}

.feature{
padding:20px;
}

}
